.title {
    font-size:2.5em;
    color: #4FB048;
    text-align: center;
    font-weight: bold;
}

.bar {
    background-color:black;
    padding-top: 10px;
}

.white {
    background-color:white;white
}

.subtitle {
    font-size: x-large;
    color: #4FB048;
    text-align: center;
    font-weight: bold;
}

.small-print {
    font-size: small;
    text-align:right;
}
.box {
    text-align: center;
    background-color: #F9F2BB;
}

.space {
    padding-top: 3em;
}

h1 {
    padding-bottom: 1em;
    padding-top: 1em;
}
