body {
    color:#4C4648;
}

h1 { 
    font-family: 'Geo', arial, serif; 
    font-size:2em;
    color:#4C4648;
}

a {
    background-color:#F0EF26;
    text-decoration: none;
}

.small {
    font-size:small;
}

.img-title {
    margin-top:80px;
}

.subtitle {
    font-size:2em;
    font-family: 'Geo', arial, serif;
    font-weight:bold;
    padding-bottom: 1em;
    padding-top:1em;
}

.space {
    padding-top: 3em;
}

.list-of-things {
    padding:1em;
}

.intro {
    background:#F3F1F4 url(../images/tiles.png);
}

.features {
    padding-top:1em;
    border-top: thick double lightgray;
    background-color:#F3F1F4;
}

.footer {
    padding-top:1em;
    border-top: thick double lightgray;
    background:#F3F1F4 url(../images/tiles.png);
}

